*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color:blanchedalmond;
    font-size: larger;
}

#counter-app{
    /* border: 1px solid black; */

    /* make text to the center of element */
    text-align: center;

    width: auto;

    /* make it center at top */
    margin: auto; 

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: -50,-50;???? */

    padding: 2rem;

}

#counter__title {
    /* border: 1px solid black; */
    margin-bottom: 2rem;
}

.counter__count{
    /* border: 1px solid black; */
    margin-bottom: 2rem;
}

/* each button: */
button{ 
    /* margin: 1rem; */
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    color:whitesmoke;
    background-color: cornflowerblue;
    border-style: none;
}

/* the whole button is one div element: */
/* .counter__btn{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    color:whitesmoke;
    background-color: cornflowerblue;
    border-style: none;
} */
/* 
.counter__add{
    border: 1px solid black;
}

.counter__minus{
    border: 1px solid black
}
.counter__reset{
    border: 1px solid black
} */